<div class="card">
  <div class="card-body">
    <div class="container login-form">
      <form #form="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" id="exampleInputEmail1" placeholder="Enter email" required>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputPassword1" placeholder="Password" required>
        </div>

        <div class="alert alert-danger" *ngIf="errMsg">
          {{ errMsg }}
        </div>

        <button type="button" class="btn btn-primary" (click)="loginUser()" [disabled]="form.invalid">Sign in</button>
        <a routerLink="/sign-up">You don't have an account? Sign up here</a>
      </form>
    </div>
  </div>
</div>